.pest-trap-form-wrapper {
    margin: 2em 15%;
    /* height: 100%; */
    height: 70vh;
    overflow: scroll;
}

.pest-trap-form-wrapper header {
    text-align: center;
}

.pest-trap-form {
    display: flex;
    flex-direction: column;
    color: darkblue;
    justify-content: space-between;
}

.pest-trap-form__inputs-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}


.pest-trap-form__input-fields-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.errorList {
    color: red;
    margin-left: 100px;
}

.pest-trap-form__input-fields-wrapper > label {
    display: inline-block;
    width: 100px;
}

.pest-trap-form__input-fields-wrapper > label::after {
    content: ": ";
}

.pest-trap-form__input-fields-wrapper > input {
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    border: solid 1px grey;
    box-sizing: border-box;
    display: inline-block;
    padding: 0.5em;
    box-shadow: 2px 2px 2px lightblue;
    width: 100%;
}


.fieldWrapper > input {
    border: 0;
}

.pest-trap-form > button {
    padding: 1em 2em;
    background-color: white;
    border: solid 1px lightblue;
    border-radius: 5px;
    color: darkblue;
    cursor: pointer;
    box-shadow: 3px 7px darkgrey;
    position: absolute;
    bottom: 2em;
    left: 15%;
    width: calc(100% - 30%);
}


.pest-trap-form > button:hover {
    background-color: lightgrey;
}

.pest-trap-form > button:active {
    background-color: lightblue;
    box-shadow: 0 3px darkgrey;
    transform: translate(3px, 4px);
}